@import url("_colors.css");

/* --------------------------------------------------
   Font-face declarations (validadas)
   Apenas propriedades válidas: font-family e src
   -------------------------------------------------- */
@font-face {
	font-family: "Quatro-Regular";
	src: url("../fonts/Quatro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Quatro-Book";
	src: url("../fonts/Quatro-Book.ttf") format("truetype");
}

@font-face {
	font-family: "Quatro-Medium";
	src: url("../fonts/Quatro-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Quatro-Bold";
	src: url("../fonts/Quatro-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Quatro-Black";
	src: url("../fonts/Quatro-Black.ttf") format("truetype");
}

@font-face {
	font-family: "Quatro-Light";
	src: url("../fonts/Quatro-Light.ttf") format("truetype");
}
/* end of file */

.frontCardProfessor {
	transform: rotateY(180deg);
	color: white;
}

@keyframes floating {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}

.containerInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.flipCardImg {
	width: 100%;
	height: 100%;

	object-fit: cover;
	border-radius: 30px;
}
.nomeProfessor {
	width: 250px;
	height: 150px;
	margin-top: 2rem;

	border-radius: 10px;

	padding: 001px;

	color: #fff;
}
.containerImgProfessor {
	margin-top: 80px;
	width: 150px;
	height: 250px;
}
.containerImgProfessor img {
	border-radius: 5px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.containerDescBack {
	width: 100%;
	height: 75%;

	padding-top: 2rem;
}
.iconProjeto {
	width: 95%;
	height: 15%;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: 15px;
}
.nomeProfessor > h1,
h3 {
	margin-left: 10px;
}
.containerCards {
	display: flex;
	justify-content: center;
}
.boxIcon {
	width: 100%;
	height: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	gap: 20px;
}

.inconProfessor {
	color: #9849ff;
}

/* seção desenvolvedores */

#desenvolvedores {
	width: 100%;
	height: auto;
	padding: 20px;
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-image: linear-gradient(
		to bottom,
		#18181b,
		#1a1930,
		#201844,
		#2b1355,
		#3d0164
	);
}

.containerTitleDevs {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wave-text2 span {
	display: inline-block;
	font-size: 40px;
	color: white;
	animation: wave 2s ease-in-out infinite;
}

.containerDesenvolvedores {
	width: 100%;
	height: auto;
	padding: 20px;
	margin-top: 20px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}
.containerDesenvolvedor {
	width: 480px;
	height: 560px;
	padding: 20px;

	border: 4px solid transparent;
	border-image: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
	border-image-slice: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;

	background-color: #18181b;
}

.fotoDev {
	width: 200px;
	height: 300px;
	border-radius: 24px;
	border: 3px solid #58c4dc;
}
.fotoDev > img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.ContainerDescDev {
	width: 80%;
	height: auto;

	/* padding: 20px; */

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.containerDesc {
	width: 100%;
	/* min-height: 150px; */
	height: auto;
	color: #58c4dc;

	display: flex;
	align-items: center;
	justify-content: center;
}
.containerDesc > span {
	font-size: 20px;
	font-weight: 600;
	color: white;
}
.containerSocial {
	width: 100%;
	height: auto;
	margin-top: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.iconSocial {
	font-size: 60px;
	color: #58c4dc;
}

.containerNome {
	width: 100%;
	height: auto;
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

	/* background-color: black; */
	border-radius: 15px;

	border: 2px solid #58c4dc;
}
.containerNome > span {
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.containerCargo {
	width: 100%;
	height: auto;
	/* padding-bottom: 20px; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerCargo > span {
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.ultimo {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-image: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
	border-image-slice: 1;
}

@media (min-width: 0px) and (max-width: 1200px) {
	.containerDesenvolvedores {
		padding: 0;
	}
	.wave-text2 span {
		display: inline-block;
		font-size: 30px;
		color: white;
		animation: wave 2s ease-in-out infinite;
	}
	.ContainerDescDev {
		width: 100%;
	}
}

@media (min-width: 421pxpx) and (max-width: 1200px) {
	.containerDesenvolvedores {
		padding: 0;
	}
	.wave-text2 span {
		display: inline-block;
		font-size: 30px;
		color: white;
		animation: wave 2s ease-in-out infinite;
	}
	.ContainerDescDev {
		width: 100%;
	}
}

/* footer */
footer {
	width: 100%;
	height: 300px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	background-color: #18181b;
}
.containerWhave {
	width: 100%;
	height: auto;
	display: flex;
	background-color: #3b0363;
}
.containerCopyright {
	font-size: 20px;
	color: white;
}
.logoSenac {
	width: 400px;
}

@media (min-width: 0px) and (max-width: 430px) {
	.logoSenac {
		width: 300px;
	}
}

/* outra parte */
.title_desenvolvedores {
	font-family: "Quatro-Black", sans-serif;
	font-size: 3rem;
	color: white;
	text-align: center;
	margin-top: 50px;
}

/* fim - pagina */

/* cards dos devs */

/* Estilos para o card do perfil do desenvolvedor */
.card {
	width: 280px;
	height: 280px;
	background: #1a1730;
	border-radius: 32px;
	padding: 3px;
	position: relative;
	box-shadow: #6a4cff30 0px 70px 30px -50px;
	transition: all 0.5s ease-in-out;
}

.card .mail {
	position: absolute;
	right: 2rem;
	top: 1.4rem;
	background: transparent;
	border: none;
}

.card .mail svg {
	stroke: #a987ff;
	stroke-width: 3px;
}

.card .mail svg:hover {
	stroke: #6a4cff;
}

.card .profile-pic {
	position: absolute;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	top: 3px;
	left: 3px;
	border-radius: 29px;
	z-index: 1;
	border: 0px solid #8b6cff;
	overflow: hidden;
	transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: 0px 0px;
	transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0px 0px;
	transform-origin: 45% 20%;
	transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
	position: absolute;
	bottom: 3px;
	left: 3px;
	right: 3px;
	background: #6a4cff;
	top: 80%;
	border-radius: 29px;
	z-index: 2;
	box-shadow: rgba(106, 76, 255, 0.25) 0px 5px 5px inset;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
	position: absolute;
	bottom: 0;
	left: 1.5rem;
	right: 1.5rem;
	height: 160px;
}

.card .bottom .content .name {
	display: block;
	font-size: 1.2rem;
	color: white;
	font-weight: bold;
}

.card .bottom .content .about-me {
	display: block;
	font-size: 0.9rem;
	color: white;
	margin-top: 1rem;
}

.card .bottom .bottom-bottom {
	position: absolute;
	bottom: 1rem;
	left: 1.5rem;
	right: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
	display: flex;
	gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
	height: 20px;
	fill: white;
	filter: drop-shadow(0 5px 5px rgba(138, 109, 255, 0.15));
}

.card .bottom .bottom-bottom .social-links-container svg:hover {
	fill: #a987ff;
	transform: scale(1.2);
}

.card .bottom .bottom-bottom .button {
	background: white;
	color: #6a4cff;
	border: none;
	border-radius: 20px;
	font-size: 0.6rem;
	padding: 0.4rem 0.6rem;
	box-shadow: rgba(138, 109, 255, 0.15) 0px 5px 5px;
}

.card .bottom .bottom-bottom .button:hover {
	background: #a987ff;
	color: white;
}

.card:hover {
	border-top-left-radius: 55px;
}

.card:hover .bottom {
	top: 20%;
	border-radius: 80px 29px 29px 29px;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
	width: 100px;
	height: 100px;
	aspect-ratio: 1;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	z-index: 3;
	border: 7px solid #8b6cff;
	box-shadow: rgba(138, 109, 255, 0.22) 0px 5px 5px;
	transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
	transform: scale(1.3);
	border-radius: 0px;
}

.card:hover .profile-pic img {
	transform: scale(2.5);
	object-position: 0px 25px;
	transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
	transform: scale(2.5);
	transition: all 0.5s ease-in-out 0.5s;
}

.cards_container {
	width: 95%;
	margin-top: 90px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin: 50px auto;
}

/* fim - cards dos devs */

/* Fim - pagina de créditos */
