@import url("_colors.css");

footer {
	width: 100%;
	height: 300px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	background-color: var(--cor-primaria);
}
.containerWhave {
	width: 100%;
	height: auto;
	display: flex;
	background-color: var(--cor-secundaria);
}
.containerCopyright {
	font-size: 20px;
	color: var(--branco);
}
.logoSenac {
	width: 400px;
}

@media (min-width: 0px) and (max-width: 430px) {
	.logoSenac {
		width: 300px;
	}
}
